.main {
    

    overflow: hidden;
    display: flex;
}

.main img {
    position: relative;
    animation: myanime 40s infinite;
}









@keyframes myanime {
    0% {
        position: relative;left: -0%;}
    2% {left: -0%; }
    4% {left: -0%;}
    6% {left: -0%;}
    8% {left: -0%;}
    10% {left: -0%;}

    12% {left: -100%;}
    14% {left: -100%;}
    16% {left: -100%;}
    18% {left: -100%;}
    19% {left: -100%;}
    20% {left: -100%;}


    22% {left: -200%;}
    24% {left: -200%;}
    26% {left: -200%;}
    28% {left: -200%;}
    29% {left: -200%;}
    30% {left: -200%;}


    32% {left: -300%;}
    34% {left: -300%;}
    36% {left: -300%;}
    38% {left: -300%;}
    39% {left: -300%;}
    40% {left: -300%;}


    42% {left: -300%;}
    44% {left: -300%;}
    46% {left: -300%;}
    48% {left: -300%;}
    49% {left: -300%;}
    50% {left: -300%;}


    52% {left: -300%;}
    54% {left: -300%;}
    56% {left: -300%;}
    58% {left: -300%;}
    59% {left: -300%;}
    60% {left: -300%;}


    62% {left: -300%;}
    64% {left: -300%;}
    66% {left: -300%;}
    68% {left: -200%;}
    69% {left: -200%;}
    70% {left: -200%;}


    72% {left: -200%;}
    74% {left: -200%;}
    76% {left: -200%;}
    78% {left: -200%;}
    79% {left: -200%;}
    80% {left: -200%;}

    82% {left: -100%;}
    84% {left: -100%;}
    86% {left: -100%;}
    88% {left: -100%;}
    89% {left: -100%;}
    90% {left: -100%;}

    92% {  left: -0%;}
    94% {  left: -0%;}
    96% {  left: -0%;}
    98% {  left: -0%;}
    99% {  left: -0%;}
    100%{ left: 0%;}
}